.App {
  text-align: left;
  height: 100%;
}


.App-header {
  padding: 5rem;
  background-color: #282c34;
  display: inline-flexbox;
  height: 100%;
}

#SignOut {
  position: fixed;
  height: 3rem;
  top: 0;
  left: 0;
}


.main {
  display: inline-block;
  width: 80%
}

.userPhoto {
  width: 85%;
  height: 85%;
  border-radius: 10px;
}


.sent {
  display: flex;
  margin: 25px 0px;
  align-items: right;
  justify-content: right;
  width: auto;
  flex-direction: row-reverse;
}

.received {
  display:flex;
  margin: 25px 0px;
  align-items: left;
  justify-content: left;
  width: auto;
} 

#pic {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.received #text {
  color: white;
  margin-left: 10px;
  background-color: green;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0rem 2rem;
}

.sent #text {
  color: white;
  margin-left: 10px;
  background-color: blue;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0rem 2rem;
}

form {
  position: fixed;
  height: 10vh;
  width: 90%;
  bottom: 0;
}

input {
  height: 100%;
  width: 80%;
}

button {
  height: 105%;
  width: 19%;
}